{% extends "base.html" %}
 
{% block content %}

    <script>
        // function to hide and stop audio
        Audio.prototype.stop = function() {
            this.hide();
            this.pause();
            this.currentTime = 0;
        };


        // on page load
        $(document).ready(function() {
            // initial state of images and audio
            $('audio').hide();
            $("i").hide();
            $(".img_johnny_madrid").hide();
            $(".img_garden_of_earthly_delights").hide()
            $(".music-list").removeClass('music-list-high-noon');
            $(".img_glass_angel").hide();
            $(".img_back_to_the_sun").hide();
            $(".img_walking_together").hide();

            // show on click      
            $("#the_human_theme").click(function() {
                $("audio").stop;
                $("i").hide();
                $(".img_johnny_madrid").hide();
                $(".img_garden_of_earthly_delights").hide();
                $(".music-list").removeClass('music-list-high-noon');
                $('.music-list').css('background-image', "none");
                $(".img_glass_angel").hide();
                $(".img_back_to_the_sun").hide();
                $(".img_walking_together").hide();
                $(".audio_the_human_theme").show();
            })
            $("#johnny_madrid").click(function() {
                $("audio").stop;
                $("i").hide();
                $(".img_johnny_madrid").show();
                $(".img_garden_of_earthly_delights").hide();
                $(".music-list").removeClass('music-list-high-noon');
                $('.music-list').css('background-image', "none");
                $(".img_glass_angel").hide();
                $(".img_back_to_the_sun").hide();
                $(".img_walking_together").hide();
                $(".audio_johnny_madrid").show();
            })
            $("#garden_of_earthly_delights").click(function() {
                $("audio").stop;
                $("i").hide();
                $(".img_johnny_madrid").hide();
                $(".img_garden_of_earthly_delights").show();
                $(".music-list").removeClass('music-list-high-noon');
                $('.music-list').css('background-image', "none");
                $(".img_glass_angel").hide();
                $(".img_back_to_the_sun").hide();
                $(".img_walking_together").hide();
                $(".audio_garden_of_earthly_delights").show();
            })
            $("#high_noon").click(function() {
                $("audio").stop;
                $("i").hide();
                $(".img_johnny_madrid").hide();
                $(".img_garden_of_earthly_delights").hide();
                $('.music-list').addClass('music-list-high-noon');
                $('.music-list').css('background-image', "none");
                $(".img_glass_angel").hide();
                $(".img_back_to_the_sun").hide();
                $(".img_walking_together").hide();
                $(".audio_high_noon").show();
            })
            $("#seventh_heaven").click(function() {
                $("audio").stop;
                $("i").hide();
                $(".img_johnny_madrid").hide();
                $(".img_garden_of_earthly_delights").hide();
                $(".music-list").removeClass('music-list-high-noon');
                $('.music-list').css('background-image', "url('/static/assets/images/clouds.jpg')");
                $('.music-list').css('background-size', "contain");
                $('.music-list').css('background-repeat', "no-repeat");
                $('.music-list').css('background-position', "center");
                $(".img_glass_angel").hide();
                $(".img_back_to_the_sun").hide();
                $(".img_walking_together").hide();
                $(".audio_seventh_heaven").show();
            })
            $("#glass_angel").click(function() {
                $("audio").stop;
                $("i").hide();
                $(".img_johnny_madrid").hide();
                $(".img_garden_of_earthly_delights").hide();
                $(".music-list").removeClass('music-list-high-noon');
                $('.music-list').css('background-image', "none");
                $(".img_glass_angel").show();
                $(".img_back_to_the_sun").hide();
                $(".img_walking_together").hide();
                $(".audio_glass_angel").show();
            })
            $("#back_to_the_sun").click(function() {
                $("audio").stop;
                $("i").hide();
                $(".img_johnny_madrid").hide();
                $(".img_garden_of_earthly_delights").hide();
                $(".music-list").removeClass('music-list-high-noon');
                $('.music-list').css('background-image', "none");
                $(".img_glass_angel").hide();
                $(".img_back_to_the_sun").show();
                $(".img_walking_together").hide();
                $(".audio_back_to_the_sun").show();
            })
            $("#walking_together").click(function() {
                $("audio").stop;
                $("i").hide();
                $(".img_johnny_madrid").hide();
                $(".img_garden_of_earthly_delights").hide();
                $(".music-list").removeClass('music-list-high-noon');
                $('.music-list').css('background-image', "none");
                $(".img_glass_angel").hide();
                $(".img_back_to_the_sun").hide();
                $(".img_walking_together").show();
                $(".audio_walking_together").show();
            })
        });
    </script>



    <div class="music-list" id="music-list">
        <div class="btn-link">
            <h2 id="the_human_theme">The Human Theme</h2>
            <div>
                <audio class="audio_the_human_theme" src="static/assets/audio/the_human_theme.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
            <div>
                <i class="fa fa-female audio_the_human_theme" aria-hidden="true"></i>
                <i class="fa fa-male audio_the_human_theme" aria-hidden="true"></i>
            </div>
        </div>
        <div class="btn-link">
            <h2 id="johnny_madrid">Johnny Madrid</h2>
            <div class="audio_johnny_madrid">
                <audio class="audio_johnny_madrid" src="static/assets/audio/johnny_madrid.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
            <div class="img_johnny_madrid song_image"></div>
        </div>
        <div class="btn-link">
            <h2 id="garden_of_earthly_delights">Garden Of Earthly Delights</h2>
            <div class="audio_garden_of_earthly_delights">
                <audio class="audio_garden_of_earthly_delights" src="static/assets/audio/garden_of_earthly_delights.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
            <div class="img_garden_of_earthly_delights song_image"></div>
        </div>
        <div class="btn-link">
            <h2 id="high_noon">High Noon</h2>
            <div class="audio_high_noon">
                <audio class="audio_high_noon" src="static/assets/audio/high_noon.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
        </div>
        <div class="btn-link">
            <h2 id="seventh_heaven">Seventh Heaven</h2>
            <div>            
                <audio class="audio_seventh_heaven" src="static/assets/audio/seventh_heaven.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
        </div>
        <div class="btn-link">
            <h2 id="glass_angel">Glass Angel</h2>
            <div>
                <audio class="audio_glass_angel" src="static/assets/audio/glass_angel.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
            <div class="img_glass_angel song_image"></div>
        </div>
        <div class="btn-link">
            <h2 id="back_to_the_sun">Back To The Sun</h2>
            <div>
                <audio class="audio_back_to_the_sun" src="static/assets/audio/back_to_the_sun.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
            <div class="img_back_to_the_sun song_image"></div>
        </div>
        <div class="btn-link">
            <h2 id="walking_together">Walking Together</h2>
            <div>
                <audio class="audio_walking_together" src="static/assets/audio/walking_together.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
            <div class="img_walking_together song_image"></div>
        </div>
    </div>
{% endblock content %}
