{% extends "base.html" %}
 
{% block content %}

    <script>

        // on page load
        $(document).ready(function() {
            // initial state of images and audio
            $('audio').hide();
            $("i").hide();
            $(".img_the_human_theme").hide();
            $(".img_johnny_madrid").hide();
            $(".img_garden_of_earthly_delights").hide()
            $(".music-list").removeClass('music-list-high-noon');
            $(".img_glass_angel").hide();
            $(".img_back_to_the_sun").hide();
            $(".img_walking_together").hide();

            // show on click      
            $("#the_human_theme").click(function() {
                stopAudio('high');
                $('audio').hide();
                $(".audio_the_human_theme").show();

                $("i").hide();
                $(".img_the_human_theme").show();
                $(".img_johnny_madrid").hide();
                $(".img_garden_of_earthly_delights").hide();
                $(".music-list").removeClass('music-list-high-noon');
                $('.music-list').css('background-image', "none");
                $(".img_glass_angel").hide();
                $(".img_back_to_the_sun").hide();
                $(".img_walking_together").hide();
            })
            $("#johnny_madrid").click(function() {
                stopAudio('johnny');
                $('audio').hide();
                $(".audio_johnny_madrid").show();

                $("i").hide();
                $(".img_the_human_theme").hide();
                $(".img_johnny_madrid").show();
                $(".img_garden_of_earthly_delights").hide();
                $(".music-list").removeClass('music-list-high-noon');
                $('.music-list').css('background-image', "none");
                $(".img_glass_angel").hide();
                $(".img_back_to_the_sun").hide();
                $(".img_walking_together").hide();
            })
            $("#garden_of_earthly_delights").click(function() {
                stopAudio('garden');
                $('audio').hide();
                $(".audio_garden_of_earthly_delights").show();

                $("i").hide();
                $(".img_the_human_theme").hide();
                $(".img_johnny_madrid").hide();
                $(".img_garden_of_earthly_delights").show();
                $(".music-list").removeClass('music-list-high-noon');
                $('.music-list').css('background-image', "none");
                $(".img_glass_angel").hide();
                $(".img_back_to_the_sun").hide();
                $(".img_walking_together").hide();
            })
            $("#high_noon").click(function() {
                stopAudio('noon');
                $('audio').hide();
                $(".audio_high_noon").show();

                $("i").hide();
                $(".img_the_human_theme").hide();
                $(".img_johnny_madrid").hide();
                $(".img_garden_of_earthly_delights").hide();
                $('.music-list').addClass('music-list-high-noon');
                $('.music-list').css('background-image', "none");
                $(".img_glass_angel").hide();
                $(".img_back_to_the_sun").hide();
                $(".img_walking_together").hide();
            })
            $("#seventh_heaven").click(function() {
                stopAudio('heaven');
                $('audio').hide();
                $(".audio_seventh_heaven").show();

                $("i").hide();
                $(".img_the_human_theme").hide();
                $(".img_johnny_madrid").hide();
                $(".img_garden_of_earthly_delights").hide();
                $(".music-list").removeClass('music-list-high-noon');
                $('.music-list').css('background-image', "url('/static/assets/images/clouds.jpg')");
                $('.music-list').css('background-size', "contain");
                $('.music-list').css('background-repeat', "no-repeat");
                $('.music-list').css('background-position', "center");
                $(".img_glass_angel").hide();
                $(".img_back_to_the_sun").hide();
                $(".img_walking_together").hide();
            })
            $("#glass_angel").click(function() {
                stopAudio('angel');
                $('audio').hide();
                $(".audio_glass_angel").show();

                $("i").hide();
                $(".img_the_human_theme").hide();
                $(".img_johnny_madrid").hide();
                $(".img_garden_of_earthly_delights").hide();
                $(".music-list").removeClass('music-list-high-noon');
                $('.music-list').css('background-image', "none");
                $(".img_glass_angel").show();
                $(".img_back_to_the_sun").hide();
                $(".img_walking_together").hide();
            })
            $("#back_to_the_sun").click(function() {
                stopAudio('sun');
                $('audio').hide();
                $(".audio_back_to_the_sun").show();

                $("i").hide();
                $(".img_the_human_theme").hide();
                $(".img_johnny_madrid").hide();
                $(".img_garden_of_earthly_delights").hide();
                $(".music-list").removeClass('music-list-high-noon');
                $('.music-list').css('background-image', "none");
                $(".img_glass_angel").hide();
                $(".img_back_to_the_sun").show();
                $(".img_walking_together").hide();
            })
            $("#walking_together").click(function() {
                stopAudio('walking');
                $('audio').hide();
                $(".audio_walking_together").show();

                $("i").hide();
                $(".img_the_human_theme").hide();
                $(".img_johnny_madrid").hide();
                $(".img_garden_of_earthly_delights").hide();
                $(".music-list").removeClass('music-list-high-noon');
                $('.music-list').css('background-image', "none");
                $(".img_glass_angel").hide();
                $(".img_back_to_the_sun").hide();
                $(".img_walking_together").show();
            })    
        });
    </script>



    <div class="music-list" id="music-list">
        <div class="btn-link">
            <h2 id="the_human_theme">The Human Theme</h2>
            <div>
                <audio id="audio_the_human_theme" class="audio_the_human_theme" src="static/assets/audio/the_human_theme.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
            <div class="img_the_human_theme song_image"></div>
        </div>
        <div class="btn-link">
            <h2 id="johnny_madrid">Johnny Madrid</h2>
            <div class="audio_johnny_madrid">
                <audio id="audio_johnny_madrid" class="audio_johnny_madrid" src="static/assets/audio/johnny_madrid.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
            <div class="img_johnny_madrid song_image"></div>
        </div>
        <div class="btn-link">
            <h2 id="garden_of_earthly_delights">Garden Of Earthly Delights</h2>
            <div class="audio_garden_of_earthly_delights">
                <audio id='audio_garden_of_earthly_delights' class="audio_garden_of_earthly_delights" src="static/assets/audio/garden_of_earthly_delights.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
            <div class="img_garden_of_earthly_delights song_image"></div>
        </div>
        <div class="btn-link">
            <h2 id="high_noon">High Noon</h2>
            <div class="audio_high_noon">
                <audio id='audio_high_noon' class="audio_high_noon" src="static/assets/audio/high_noon.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
        </div>
        <div class="btn-link">
            <h2 id="seventh_heaven">Seventh Heaven</h2>
            <div>            
                <audio id='audio_seventh_heaven' class="audio_seventh_heaven" src="static/assets/audio/seventh_heaven.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
        </div>
        <div class="btn-link">
            <h2 id="glass_angel">Glass Angel</h2>
            <div>
                <audio id='audio_glass_angel' class="audio_glass_angel" src="static/assets/audio/glass_angel.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
            <div class="img_glass_angel song_image"></div>
        </div>
        <div class="btn-link">
            <h2 id="back_to_the_sun">Back To The Sun</h2>
            <div>
                <audio id='audio_back_to_the_sun' class="audio_back_to_the_sun" src="static/assets/audio/back_to_the_sun.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
            <div class="img_back_to_the_sun song_image"></div>
        </div>
        <div class="btn-link">
            <h2 id="walking_together">Walking Together</h2>
            <div>
                <audio id='audio_walking_together' class="audio_walking_together" src="static/assets/audio/walking_together.mp3" controls="controls" controlsList="nodownload" preload="none"></audio>
            </div>
            <div class="img_walking_together song_image"></div>
        </div>
    </div>

    <script type="text/javascript">
        
        function stopAudio (title) {
            if (title == 'high') {
                document.getElementById('audio_the_human_theme').src='static/assets/audio/the_human_theme.mp3';
                document.getElementById('audio_johnny_madrid').src = '';
                document.getElementById('audio_garden_of_earthly_delights').src='';
                document.getElementById('audio_high_noon').src='';
                document.getElementById('audio_seventh_heaven').src='';
                document.getElementById('audio_glass_angel').src='';
                document.getElementById('audio_back_to_the_sun').src='';
                document.getElementById('audio_walking_together').src='';
            }
            if (title == 'johnny') {
                document.getElementById('audio_the_human_theme').src = '';
                document.getElementById('audio_johnny_madrid').src = "static/assets/audio/johnny_madrid.mp3";
                document.getElementById('audio_garden_of_earthly_delights').src='';
                document.getElementById('audio_high_noon').src='';
                document.getElementById('audio_seventh_heaven').src='';
                document.getElementById('audio_glass_angel').src='';
                document.getElementById('audio_back_to_the_sun').src='';
                document.getElementById('audio_walking_together').src='';
            }
            if (title =='garden') {
                document.getElementById('audio_the_human_theme').src = '';
                document.getElementById('audio_johnny_madrid').src = '';
                document.getElementById('audio_garden_of_earthly_delights').src='static/assets/audio/garden_of_earthly_delights.mp3';
                document.getElementById('audio_high_noon').src='';
                document.getElementById('audio_seventh_heaven').src='';
                document.getElementById('audio_glass_angel').src='';
                document.getElementById('audio_back_to_the_sun').src='';
                document.getElementById('audio_walking_together').src='';
            }
            if (title == 'noon') {
                document.getElementById('audio_the_human_theme').src = '';
                document.getElementById('audio_johnny_madrid').src = '';
                document.getElementById('audio_garden_of_earthly_delights').src='';
                document.getElementById('audio_high_noon').src='static/assets/audio/high_noon.mp3';
                document.getElementById('audio_seventh_heaven').src='';
                document.getElementById('audio_glass_angel').src='';
                document.getElementById('audio_back_to_the_sun').src='';
                document.getElementById('audio_walking_together').src='';
            }
            if (title == 'heaven') {
                document.getElementById('audio_the_human_theme').src = '';
                document.getElementById('audio_johnny_madrid').src = '';
                document.getElementById('audio_garden_of_earthly_delights').src='';
                document.getElementById('audio_high_noon').src='';
                document.getElementById('audio_seventh_heaven').src='static/assets/audio/seventh_heaven.mp3';
                document.getElementById('audio_glass_angel').src='';
                document.getElementById('audio_back_to_the_sun').src='';
                document.getElementById('audio_walking_together').src='';
            }
            if (title == 'angel') {
                document.getElementById('audio_the_human_theme').src = '';
                document.getElementById('audio_johnny_madrid').src = '';
                document.getElementById('audio_garden_of_earthly_delights').src='';
                document.getElementById('audio_high_noon').src='';
                document.getElementById('audio_seventh_heaven').src='';
                document.getElementById('audio_glass_angel').src='static/assets/audio/glass_angel.mp3';
                document.getElementById('audio_back_to_the_sun').src='';
                document.getElementById('audio_walking_together').src='';
            }
            if (title == 'sun') {
                document.getElementById('audio_the_human_theme').src = '';
                document.getElementById('audio_johnny_madrid').src = '';
                document.getElementById('audio_garden_of_earthly_delights').src='';
                document.getElementById('audio_high_noon').src='';
                document.getElementById('audio_seventh_heaven').src='';
                document.getElementById('audio_glass_angel').src='';
                document.getElementById('audio_back_to_the_sun').src='static/assets/audio/back_to_the_sun.mp3';
                document.getElementById('audio_walking_together').src='';
            }
            if (title == 'walking') {
                document.getElementById('audio_the_human_theme').src = '';
                document.getElementById('audio_johnny_madrid').src = '';
                document.getElementById('audio_garden_of_earthly_delights').src='';
                document.getElementById('audio_high_noon').src='';
                document.getElementById('audio_seventh_heaven').src='';
                document.getElementById('audio_glass_angel').src='';
                document.getElementById('audio_back_to_the_sun').src='';
                document.getElementById('audio_walking_together').src='static/assets/audio/walking_together.mp3';
            }
        };

    </script>
{% endblock content %}
